@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --duration: 2s; /* Duration of the animation */
  --easing: linear; /* Animation easing */
  --delay: 2s; /* Time between repetitions */
}

html {
  font-size: 1vw;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

/* .hero-section {
  background-image: linear-gradient(#7c7e8c, hwb(0 100% 0% / 0));
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%232b2b3100'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='0.5' stroke='%23ff760567' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-0.856)' fill='url(%23a)'/></svg>");
} */
/* .bg-img {
  background-image: url("../../public/bg-2.jpg");
  background: "fixed";
} */

.single-element {
  position: relative;

  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0.822) 50%,
      rgba(255, 255, 255, 0) 75%
    );
    transform: skewX(-20deg) translateX(-100%);
    animation: var(--duration) var(--easing) var(--delay) infinite forwards
      shine;
  }
}

@keyframes shine {
  0% {
    transform: skewX(-20deg) translateX(-100%);
  }
  100% {
    transform: skewX(-20deg) translateX(150%);
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 3.4vw;
  }
}
